*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.git
.DS_Store
.idea
.project
.strong-pm
.vscode
.lock
logs
coverage
node_modules
tmp
db
doc
logs/
bin/
tmp/
training-data/
weights
