<nav class="mt-2">
  <ul id="sidebar" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="/user/dashboard/oauth/clients" class="nav-link" data-sidebar-nav="oauth-clients">
        <i class="nav-icon fas fa-key"></i>
        <p>
          授權管理
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/user/dashboard/profile" class="nav-link" data-sidebar-nav="profile">
        <i class="nav-icon fas fa-users-cog"></i>
        <p>
          使用者設定
        </p>
      </a>
    </li>
  </ul>
</nav>